* {
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
}

/*   background   */
.wrapper {
    min-height: 100%;
    width: 100%;
    background: #67ebb9;
    font-family: 'Comfortaa', cursive;
}

/*   header   */
h1 {
    font-weight: 300;
    color: rgba(255, 255, 255, 0.9);
}

header .title {
    float: left;
    margin: 25px 0 0 30px;

}

header .money {
    float: right;
    margin: 25px 30px 0 0;
}

/*   menu   */
.main-menu {
    position: absolute;
    left: 30px;
    top: 100px;
}

.main-menu button {
    display: block;
    padding: 10px 30px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 18px;
    font-weight: 200;
    color: rgba(255, 255, 255, 0.9);
    background: rgba(255, 255, 255, 0.3);
    border: 0;
    border-radius: 10px;
    cursor: pointer;
}

.main-menu #loginBtn {
    padding: 10px 36px;
}

.main-menu .settings {

}

.main-menu .about {

}

/*   machine   */
.machine-box {
    height: 100%;
    width: 700px;
    position: absolute;
    top: 0;
    left: 35%;
}

.machine-box .machine {
    height: 100%;
    width: 100%;
    background: url("../img/svg/Machine.svg") 50% 50% no-repeat;
    background-size: contain;
}




























