<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <title>Vending Machine</title>

    <link href="https://fonts.googleapis.com/css?family=Comfortaa&display=swap" rel="stylesheet">
    <link th:href="@{/css/main.css}" rel="stylesheet">
    <link th:href="@{/css/login.css}" rel="stylesheet">
    <link th:href="@{/css/registration.css}" rel="stylesheet">

</head>
<body>

<div class="wrapper" id="wrapper">

    <header>
        <h1 class="title"> Vending Machine </h1>
        <h1 class="money"> 200 $ </h1>
    </header>

    <div class="main-menu">
        <button id="loginBtn">Log in</button>
        <button id="RegistrationBtn">Sign up</button>

        <a class="settings"><img src="" alt=""></a>
        <a class="about"><img src="" alt=""></a>
    </div>

    <div class="machine-box" id="machine">

        <div class="machine">

        </div>
    </div>

    <!-- The Login Modal -->
    <div id="loginForm" class="modal-login">
        <div class="content">

            <div class="header">
                <span class="login-close">&times;</span>
                <h2>Login</h2>
            </div>

            <div class="login-form">
                <form th:action="@{/login}" method="post">

                    <input type="text" placeholder="username" name="username"/>
                    <input type="text" placeholder="password" name="password"/>
                    <button>login</button>
                </form>
            </div>
        </div>
    </div>

    <!-- The Registration Modal -->
    <div id="RegistrationForm" class="modal-registration">
        <div class="content">

            <div class="header">
                <span class="registration-close">&times;</span>
                <h2>Registration</h2>
            </div>

            <div class="registration-form">
                <form th:action="@{/registration}" method="post">

                    <input type="text" placeholder="username" name="username"/>
                    <input type="text" placeholder="password" name="password"/>
                    <button>Sign up</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/js/main.js}" type="text/javascript"></script>

</body>
</html>




























